		.colorButtons {
			display: block;
			margin: 20px 0;
		}

		canvas {
			cursor: crosshair;
			box-shadow: -6px 4px 18px 12px #3d0000;
			
		}

		div#sidebar {
			position: absolute;
			left: 30px;
			width: 150px;
			padding: 20px 20px;
			top: 0;
		}

		canvas#canvas {
			left: 300px;
			top: 45px;
		}

		.btn {
			margin-bottom: 10px;
			width: 100%;
		}
		input {
			width: 100%;
			margin-bottom: 10px;
		}

		.input-group {
			margin-bottom: 10px;
		}

		.toolsButtons .btn {
			width: 48%;
		}

		.sizeButtons .btn {
			width: 48%;
		}

		.colorpicker {
			background: transparent;
			height: 45px;
		}
		body {
			background: #414141;
		 	color: #fff;
	 	}